<table class="table table-borderless">
    <thead class="thead-light">
        <th>ID</th>
        <th>Product</th>
        <th>Category</th>
    </thead>
    <tbody>
        <tr *ngIf="service.productList.length==0" [class.text-danger]="!isValid && service.productList.length==0">
            <td class="font-italic text-center" colspan="3">
                No food item selected for this order.
            </td>
        </tr>

        <tr *ngFor="let item of service.productList;let i=index;">
            <td>{{item.id}}</td>
            <td>{{item.productName}}</td>
            <td>{{item.category}}</td>
        </tr>
    </tbody>
</table>